/* CSS navigation bar*/
.bar {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.nav {
    margin-top: 0;
    flex-direction: row;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
}
.user-wcrap {
    display: flex;
    padding: 16px 20px;
}
.user-link:hover + .sub-menu {
    display: block; 
    z-index: 1100;

}

.sub-menu {
    display: none; /* Ẩn sub-menu mặc định */
    position: absolute; /* Vị trí tuyệt đối để sub-menu không làm ảnh hưởng đến layout khác */
    background-color: #fff; /* Màu nền của sub-menu */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Hiệu ứng shadow cho sub-menu */
    z-index: 1000; /* Đảm bảo sub-menu hiển thị trên top */
    padding: 8px 0; /* Khoảng cách giữa các mục trong sub-menu */
    top: 60px; /* Vị trí top của sub-menu (thay đổi tùy thuộc vào chiều cao của thanh điều hướng) */
    right: 10px;
}

.sub-menu a {
    color: black; /* Màu chữ cho các mục trong sub-menu */
    padding: 12px 16px; /* Khoảng cách padding của các mục trong sub-menu */
    text-decoration: none; /* Loại bỏ gạch chân của liên kết */
    display: block; /* Hiển thị các mục liên kết dạng block */
}

.sub-menu a:hover {
    background-color: #f1f1f1; /* Màu nền khi hover vào các mục trong sub-menu */
}


.bar .button-pink {
    float: left;    
    background-color: inherit;
    color: inherit;
    width: auto;
    border: none;
    outline: none;
    display: block;
    white-space: normal;
    padding: 16px; 
    text-decoration: none; 
    transition: background-color 0.3s; 
}

.bar .nav  .button-pink:hover {
    background-color: #000000;
    color: #f1f1f1f1; 

}

.pink{
    color: #000000!important;
    background-color: #75708c!important;
}


.site-content-grid {
    display: flex;
}
/* End css nav */
@media (max-width: 768px) {
    /* Đặt các quy tắc CSS cho giao diện di động ở đây */
    .container {
        display: block;
        padding-top: 60px;
    }
    .left-column {
        background-color: #c7dbf7; /* Màu nền của cột trái */
        width: 100%;

    }
    .right-column {
        background-color: #bfc7de; /* Màu nền của cột phải */
        width: 100%;

    }
}
@media (min-width: 769px) {
    /* Đặt các quy tắc CSS cho giao diện desktop ở đây */
    .container {
        display: flex; /* Sử dụng flexbox để chia layout */
        padding-top: 60px;
    }
    .left-column, .right-column {
        width: 50%; /* Chia đều không gian cho hai cột */
    }
    .left-column {
        background-color: #c7dbf7; /* Màu nền của cột trái */
    }
    .right-column {
        background-color: #c7dbf7; /* Màu nền của cột phải */
    }
}
body {
    margin: 0;
    padding: 0;
}
/* Các quy tắc chung */
.link{
    text-align: right
}
.btn {
    display: block;
    margin-bottom: 30px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    width: 40%;
    height: 10%;
    border: 1px solid #010101;
    border-radius: 30px;
    background-color: #c59594;
    font-size: 20px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn:hover {
    background-color: #bfc7de;
}
.btn:active {
    background-color: #ffefff;
    box-shadow: 0 12px 16px 0 #cdb7f6;
    color: #010101;
    transform: translateY(4px);
}
.signup-form-container {
    border: 1px solid #80808000;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 0px grey;
    background-color: #bfc7de;
    margin: auto;
}
.signin-form-container {
    border: 1px solid #80808000;
    width: 100%;
    height: 100%;
    padding-bottom: 0px;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 0px grey;
    background-color: #bfc7de;
    margin: auto;
}
label {
    margin-left: 10%;
    display: block; /* Hiển thị mỗi label trên một dòng */
    font-weight: bold; /* In đậm văn bản của label */
    font-size: 100%; /* Đặt kích thước chữ cho label */
    color: #010101; /* Đặt màu cho chữ của label */
    text-align: left;
}
input[type="text"] {
    width: 80%;
    height: 90%;
    padding: 10px; /* Tạo khoảng cách bên trong ô input */
    margin-bottom: 5%; /* Tạo khoảng cách giữa các ô input */
    margin-left: 10%;
    border-top: none; /* Loại bỏ viền phía trên của ô input */
    border-left: none; /* Loại bỏ viền bên trái của ô input */
    border-right: none; /* Loại bỏ viền bên phải của ô input */
    border-bottom: 3px solid #70758c; /* Thiết lập viền dưới của ô input */
    border-radius: 10px;
    box-sizing: border-box; /* Đảm bảo rằng padding và border không làm tăng kích thước của ô input */
    background-color: white;
}
input[type="submit"] {
    width: 40%;
    height: 10%;
    padding: 10px; /* Tạo khoảng cách bên trong ô input */
    display: block;
    text-decoration: none;
    text-align: center;
    border: 1px solid #010101;
    border-radius: 30px;
    background-color: #c59594;
    font-size: 20px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.close-button {
    position: absolute;
    top: 60px; /* Khoảng cách từ trên xuống */
    right: 10px; /* Khoảng cách từ trái sang */
    font-size: 24px; /* Cỡ chữ */
    width: 50px;
    background-color: #c59594; /* Màu nền trong suốt */
    border: black;
    border-radius: 10px;
    color: black; /* Màu chữ */
}