/* css for menu bar */
#navbarNav {
    position: fixed;
    top: 95px; /* Height of the bar */
    left: 0;
    width: 200px; /* Adjust as needed */
    background-color: #f1f1f1f1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 999; /* Ensure it's above other content */
    display: none;
}

#navbarNav.show {
    display: block;
}

#navbarNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#navbarNav li {
    margin-bottom: 10px;
}

#navbarNav a {
    display: block;
    color: #000000;
    text-decoration: none;
}

#navbarNav a:hover {
    color: #75708c;
}
/* CSS for account page */
.widget-author {
  margin-bottom: 58px;
}
.author-card {
  position: relative;
  padding-bottom: 48px;
  background-color: #fff;
  box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
}
.author-card .author-card-cover {
  position: relative;
  width: 100%;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.author-card .author-card-cover::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  opacity: 0.5;
}
.author-card .author-card-cover > .btn {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 0 10px;
}
.author-card .author-card-profile {
  display: table;
  position: relative;
  margin-top: -22px;
  padding-right: 15px;
  padding-bottom: 16px;
  padding-left: 20px;
  z-index: 5;
}
.author-card .author-card-profile .author-card-avatar, .author-card .author-card-profile .author-card-details {
  display: table-cell;
  vertical-align: middle;
}
.author-card .author-card-profile .author-card-avatar {
  width: 85px;
  border-radius: 50%;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
  overflow: hidden;
}
.author-card .author-card-profile .author-card-avatar > img {
  display: block;
  width: 100%;
}
.author-card .author-card-profile .author-card-details {
  padding-top: 20px;
  padding-left: 15px;
}
.author-card .author-card-profile .author-card-name {
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: bold;
}
.author-card .author-card-profile .author-card-position {
  display: block;
  color: #8c8c8c;
  font-size: 12px;
  font-weight: 600;
}
.author-card .author-card-info {
  margin-bottom: 0;
  padding: 0 25px;
  font-size: 13px;
}
.author-card .author-card-social-bar-wrap {
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 100%;
}
.author-card .author-card-social-bar-wrap .author-card-social-bar {
  display: table;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .11);
}
.btn-style-1.btn-white {
    background-color: #fff;
}
.list-group-item i {
    display: inline-block;
    margin-top: -1px;
    margin-right: 8px;
    font-size: 1.2em;
    vertical-align: middle;
}
.mr-1, .mx-1 {
    margin-right: .25rem !important;
}

.list-group-item.active:not(.disabled) {
    border-color: #e7e7e7;
    background: #fff;
    color: #ac32e4;
    cursor: default;
    pointer-events: none;
}
.list-group-flush:last-child .list-group-item:last-child {
    border-bottom: 0;
}

.list-group-flush .list-group-item {
    border-right: 0 !important;
    border-left: 0 !important;
}

.list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
a.list-group-item, .list-group-item-action {
    color: #404040;
    font-weight: 600;
}
.list-group-item {
    padding-top: 16px;
    padding-bottom: 16px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #e7e7e7 !important;
    border-radius: 0 !important;
    color: #404040;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .08em;
    text-transform: uppercase;
    text-decoration: none;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.125);
}
.list-group-item.active:not(.disabled)::before {
    background-color: #ac32e4;
}

.list-group-item::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: transparent;
    content: '';
}

/* CSS for inbox page */

.message form {
    padding: 6px 15px;
    background-color: #FAFAFA;
    border-bottom: 1px solid #E6EBED;
  }
  .message form .has-icon .form-control-icon {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    width: 34px;
    line-height: 33px;
    text-align: center;
    color: #777;
  }
  .message > a {
    position: relative;
  }
  .message .indicator {
    text-align: center;
  }
  .message .indicator .spinner {
    left: 26%;
    width: 200px;
    font-size: 13px;
    line-height: 17px;
    color: #999;
  }
  
  .message-wrapper {
    position: relative;
    padding: 0px;
    background-color: #ffffff;
    margin: 0px;
  }
  .message-wrapper .message-sideleft {
    vertical-align: top !important;
  }
  .message-wrapper .message-sideleft[class*="col-"] {
    padding-right: 0px;
    padding-left: 0px;
  }
  .message-wrapper .message-sideright {
    background-color: #f8f8f8;
  }
  .message-wrapper .message-sideright[class*="col-"] {
    padding: 30px;
  }
  .message-wrapper .message-sideright .panel {
    border-top: 1px dotted #DDD;
    padding-top: 20px;
  }
  .message-wrapper .message-sideright .panel:first-child {
    border-top: none;
    padding-top: 0px;
  }
  .message-wrapper .message-sideright .panel .panel-heading {
    border-bottom: none;
  }
  .message-wrapper .panel {
    background-color: transparent !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  .message-wrapper .panel .panel-heading, .message-wrapper .panel .panel-body {
    background-color: transparent !important;
  }
  .message-wrapper .media .media-body {
    font-weight: 300;
  }
  .message-wrapper .media .media-heading {
    margin-bottom: 0px;
  }
  .message-wrapper .media small {
    color: #999999;
    font-weight: 400;
  }
  
  .list-message .list-group-item {
    padding: 15px;
    color: #999999 !important;
    border-right: 3px solid #8CC152 !important;
  }
  .list-message .list-group-item.active {
    background-color: #EEEEEE;
    border-bottom: 1px solid #DDD !important;
  }
  .list-message .list-group-item.active p {
    color: #999999 !important;
  }
  .list-message .list-group-item.active:hover, .list-message .list-group-item.active:focus, .list-message .list-group-item.active:active {
    background-color: #EEEEEE;
  }
  .list-message .list-group-item small {
    font-size: 12px;
  }
  .list-message .list-group-item .list-group-item-heading {
    color: #999999 !important;
  }
  .list-message .list-group-item .list-group-item-text {
    margin-bottom: 10px;
  }
  .list-message .list-group-item:last-child {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #DDD !important;
  }
  .avatar{
      width:50px;
      height:50px;
  }

.gradient-header {
    background: hsla(211, 66%, 87%, 1);
    background: linear-gradient(270deg, hsla(211, 66%, 87%, 1) 0%, hsla(348, 67%, 88%, 1) 50%, hsla(272, 26%, 72%, 1) 100%);
    background: -moz-linear-gradient(270deg, hsla(211, 66%, 87%, 1) 0%, hsla(348, 67%, 88%, 1) 50%, hsla(272, 26%, 72%, 1) 100%);
    background: -webkit-linear-gradient(270deg, hsla(211, 66%, 87%, 1) 0%, hsla(348, 67%, 88%, 1) 50%, hsla(272, 26%, 72%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#c9def4", endColorstr="#f5ccd4", GradientType=1 );
}

/* Notifications option design */
/* .row{
  margin:auto;
  padding: 30px;
  width: 80%;
  display: flex;
  flex-flow: column;
  .card{
    width: 100%;
    margin-bottom: 5px;
    display: block;
    transition: opacity 0.3s;
  }
} */


.card-body{
  padding: 0.5rem;
  table{
    width: 100%;
    tr{
      display:flex;
      td{
        a.btn{
          font-size: 0.8rem;
          padding: 3px;
        }
      }
      td:nth-child(2){
        text-align:right;
        justify-content: space-around;
      }
    }
  }
  
}

.card-title:before{
  display:inline-block;
  font-family: 'Font Awesome\ 5 Free';
  font-weight:900;
  font-size: 1.1rem;
  text-align: center;
  border: 2px solid grey;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  padding-bottom: 3px;
  margin-right: 10px;
}

.notification-invitation {
  .card-body {
    .card-title:before {
      color: #90CAF9;
      border-color: #90CAF9;
      content: "\f007";
    }
  }
}

.notification-warning {
  .card-body {
    .card-title:before {
      color: #FFE082;
      border-color: #FFE082;
      content: "\f071";
    }
  }
}

.notification-danger {
  .card-body {
    .card-title:before {
      color: #FFAB91;
      border-color: #FFAB91;
      content: "\f00d";
    }
  }
}

.notification-reminder {
  .card-body {
    .card-title:before {
      color: #CE93D8;
      border-color: #CE93D8;
      content: "\f017";
    }
  }
}

.card.display-none{
  display: none;
  transition: opacity 2s;
}

