@media only screen and (max-width: 600px) { 
    .bar {
        flex-direction: column;
        
        align-items: flex-start; /* Canh trái */
    }
    .site-content-grid {
        flex-direction: column;
    }
    #exception {
        display: none;
    }
    #primary {
        margin-top: 50px;
    }
    #secondary {
        width: 100%; /* Khung secondary chiếm toàn bộ chiều rộng */
        margin-top: 0; /* Không cần margin-top */
        position: relative;
    }
    .sticky-sidebar {
        width: 100%; /* Khung sticky-sidebar chiếm toàn bộ chiều rộng */
    }

}
@media only screen and (min-width: 601px) { 
    
    #primary {
        margin-top: 70px; /* Đảm bảo phần content không bị che khuất bởi thanh nav bar */
        margin-right: 10px;
        width: 66.666%; /* Chiếm 2/3 phần trên màn hình */
        float: right; /* Đảm bảo phần primary nằm bên phải */
        padding: 0px 30px 30px 10px 10px;
        border-radius: 10px;
        
    }
    #secondary {
        margin-top: 150px; /* Độ cao của thanh nav bar */
        width: 33.333%; 
        left: 0;
        height: 100%; /* Chiều cao giống với cửa sổ trình duyệt */
        /* overflow-y: auto; Cho phép cuộn nếu nội dung vượt quá kích thước */
        background-color: #f9f9f9; 
        /* z-index: 800; Đảm bảo second-left hiển thị trên cùng */
        /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Hiệu ứng đổ bóng */
    }
}

/* CSS navigation bar*/
.bar {
    position: fixed;
    width: 100%;
    height: 60px;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    z-index: 1000;
}

.nav {
    margin-top: 0;
    flex-direction: row;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
}
.user-wcrap {
    display: flex;
    padding: 16px 20px;
}
.user-link:hover + .sub-menu {
    display: block; 
    z-index: 1100;
    
}

.sub-menu {
    display: none; /* Ẩn sub-menu mặc định */
    position: absolute; /* Vị trí tuyệt đối để sub-menu không làm ảnh hưởng đến layout khác */
    background-color: #fff; /* Màu nền của sub-menu */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Hiệu ứng shadow cho sub-menu */
    z-index: 1000; /* Đảm bảo sub-menu hiển thị trên top */
    padding: 8px 0; /* Khoảng cách giữa các mục trong sub-menu */
    top: 60px; /* Vị trí top của sub-menu (thay đổi tùy thuộc vào chiều cao của thanh điều hướng) */
    right: 10px;
}

.sub-menu a {
    color: black; /* Màu chữ cho các mục trong sub-menu */
    padding: 12px 16px; /* Khoảng cách padding của các mục trong sub-menu */
    text-decoration: none; /* Loại bỏ gạch chân của liên kết */
    display: block; /* Hiển thị các mục liên kết dạng block */
}

.sub-menu a:hover {
    background-color: #f1f1f1; /* Màu nền khi hover vào các mục trong sub-menu */
}


.bar .button-pink {
    background-color: inherit;
    color: inherit;
    white-space: normal;
    padding: 16px 20px;
    float: left;
    text-decoration: none; 
    transition: background-color 0.3s; 
}

.bar .nav  .button-pink:hover {
    background-color: #010101;
    color: #ffffff; 
}

.bar .nav .bar-item {
    float: left;    
    background-color: inherit;
    color: inherit;
    width: auto;
    border: none;
    outline: none;
    display: block;
    
}


.pink{
    color: #000000!important;
    background-color: #c59594!important;
}




.site-content-grid {
    display: flex;
}

/* CSS page chính */



#entry-header {
    text-align: center;
    font-size: 20px;

}

#entry-content {
    display: block;
    font-size: 16px;
    height: 900px;
}

.posting {
    display:block;
    font-size: 16px;
    height: 100px;
    cursor: pointer; /* Đổi con trỏ thành dấu nhấp chuột */
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

#posting-box {
    display: none; /* Ẩn khối đăng bài viết mặc định */
}

#posting-box.show {
    display: block; /* Hiển thị khối đăng bài viết khi được kích hoạt */
}







.sticky-sidebar {
    padding: 10px;
   
    border-radius: 5px;
}

/* #recent-post 
{   
    background-color: #e4cece;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px 10px 10px;
    border-radius: 10px;
} */

#lasted-updates {
    background-color: #e4cece;
    margin-top: 10px;
    padding: 5px 10px 10px 10px;
    border-radius: 10px
}

.widget-title {
    font-size: 20px;
    margin-bottom: 10px;
    
}

.bb-recent-post {
    list-style: none;
    padding: 0;
}

.bb-recent-post li {
    margin-bottom: 10px;
}

.more-post {
    text-align: center;
    margin-top: 20px;
}

.more-post a {
    color: #fff;
    background-color: #010101; /* Màu nền của nút */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.more-post a:hover {
    background-color: #bfc7de; /* Màu nền khi di chuột */
}

.bb-lasted-updates {
    list-style: none;
    padding: 0;
}



.feed-header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* can deu hai phan tu trong bar*/
    background-color: #bfc7de; /* Màu nền mới */
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 2px 2px 2px 2px;
}

.search-form {
    margin-right: 5px;
    display: flex; /* Sắp xếp các phần tử theo chiều ngang */
    justify-content: flex-end;
    align-items: center; /* Canh chỉnh các phần tử theo chiều dọc */
}
#activity-search-btn {
    background-color: #75708c; /* Màu nền nút */
    color: #fff; /* Màu chữ */
    border: none; /* Không viền */
    border-radius: 5px 0 0 5px; /* Bo tròn góc */
    padding: 8px; /* Đệm */
    cursor: pointer; /* Con trỏ chuột khi di chuột vào */
}

#activity-search-btn:hover {
    background-color: #c7dbf7; /* Màu nền khi di chuột vào */
}

/* Định dạng ô nhập văn bản */
#activity-feed-search {
    margin: 0;
    padding: 8px; /* Đệm */
    border: 1px solid #ccc; /* Viền */
    border-radius: 0 5px 5px 0; /* Bo tròn góc */
    width: 50%; /* Độ rộng */
}
#postForm {
    align-items: center;
    background-color: #bfc7de; /* Màu nền mới */
    width: 100%;
    height: auto;
    border-radius: 5px;
    
    margin: 2px 2px 2px 2px;
    margin-bottom: 30px;
    /* padding: 1px; */
}
#post-box {
    display: flex;
    align-items: center;
    margin:  5px 50px 5px 5px;
    border-radius: 5px;
}

#post-box img {
    width: 50px;
    height: 50px;
    
    margin-left: 10px; /* Khoảng cách giữa ảnh và khung input */
}

#input-post-blog {
    /* flex: 1; Để khung input mở rộng theo chiều ngang */
    height: 50px; /* Đặt chiều cao của khung input giống với chiều cao của ảnh */
    width: 250px;
    border: none; /* Loại bỏ viền */
    outline: none; /* Loại bỏ viền khi được focus */
    background-color: #c7dbf7;
}