<!DOCTYPE html>
<html lang="vn">

<head>
    <title>Handmade Forum Intro Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/intro.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>

    </style>
</head>

<body>
    <nav class="bar pink">

        <div class="nav">
            <a href="/intro.html" class="button-pink ">
                <span class="dashicons dashicons-search"> <i class="fa fa-info" aria-hidden="true"
                        title="intro"></i></span>
            </a>
            <a href="/home.html" class="button-pink ">
                <span class="dashicons dashicons-search"> <i class="fa fa-home" aria-hidden="true"
                        title="Home"></i></span>
            </a>
            <a href="/favorite.html" class="button-pink ">
                <span class="dashicons dashicons-search"> <i class="fa fa-heart" aria-hidden="true"
                        title="Favorites"></i></span>
            </a>
            <a href="/QnA.html" class="button-pink ">
                <span class="dashicons dashicons-search"> <i class="fa fa-question-circle" aria-hidden="true"
                        title="Q&A"></i></span>
            </a>
            <a href="/profile.html" class="button-pink ">
                <span class="dashicons dashicons-search"> <i class="fa fa-user" aria-hidden="true"
                        title="Profile"></i></span>
            </a>
        </div>

    </nav>
    <div class="container">
        <div class="left-column">
            <!-- Nội dung bên trái -->
            <center>
            <div id="_logo"  style="padding-top: 20px">
                    <a class="logo" href="#">
                        <img src="https://i.pinimg.com/736x/8b/fb/d9/8bfbd972e351febd379212556eb8f119.jpg" alt="logo" width="70%" height="70%" />
                    </a>
            </div>
            <section id="main menu" class="main info">
                <button id="visit-our-forum-btn" class="btn">
                    Visit our forum
                </button>
                <button id="about-us-btn" class="btn">
                    About us
                </button> <br>
            </section>
            </center>
        </div>
        <div id="rc" class="right-column">
            <!-- Nội dung bên phải -->
            <!-- Ảnh tạm về about us -->
            
            <a class="tmp" href="#" style="display: none;">
                <button id="closeButton" class="close-button" style="display: block;">X</button> <!-- Nút thoát -->
                <img src=https://i.pinimg.com/564x/02/f8/20/02f820aaa63680fcef6f6a840027dbbc.jpg alt="tmp" width="100%" height="100%"/>
            </a>
            <div class="signup-form-container" style="display: none;">
                <!-- Sign up form -->
                <form id="signupForm">
                    <button id="closeButton" class="close-button" style="display: block;">X</button> <!-- Nút thoát -->
                    <!-- Các trường nhập liệu trong form -->
                    <legend><h1><center>Sign up</center></h1></legend>
                    <label for="firstname">First Name: </label>
                    <input type="text" id="firstname" name="firstname"><br>
                    <label for="lastname">Last Name: </label>
                    <input type="text" id="lastname" name="lastname"><br>
                    <label for="signupEmail">Email: </label>
                    <input type="text" id="signupEmail" name="email"><br>
                    <label for="signupUsername">User name: </label>
                    <input type="text" id="signupUsername" name="username"><br>
                    <label for="signupPassword">Password: </label>
                    <input type="text" id="signupPassword" name="password"><br>
                    <br>
                    <center><input type="submit" value="Submit"><br></center>
                </form>
                <center>
                    <p>You already have an account?</p>
                    <button id="sign-in-btn" class="btn">
                        Sign in
                    </button>
                </center>
            </div>
            <div class="signin-form-container" style="display: none;">
                <!-- Sign in form -->
                <form id="signinForm">
                    <button id="closeButton" class="close-button" style="display: block;">X</button> <!-- Nút thoát -->
                    <legend><h1><center>Sign in</center></h1></legend>
                    <label for="signinUsername">User name: </label>
                    <input type="text" id="signinUsername" name="username"><br>
                    <label for="signinPassword">Password: </label>
                    <input type="text" id="signinPassword" name="password"><br>
                    <a href="#" style="float:right; text-decoration: none;">Forgot Password?</a><br>
                    <br>
                    <center><input type="submit" value="Submit"><br></center>
                </form>
                <center>
                    <p>Create a new account?</p>
                    <button id="sign-up-btn" class="btn">
                        Sign up
                    </button>
                </center>
            </div>

        </div>
    </div>

</body>
<!-- Code js -->
<script>
    // Function
    function hideRightPage(arr) {
        for (var i = 0; i < arr.length; i++) {
            var element = document.querySelector(arr[i]);
            console.log(element)
            element.style.display = 'none';
        }
    }
    function showRightPage(selector, arr){ // Ẩn các form trừ form được chọn 
        var element = document.querySelector(selector);
        hideRightPage(arr);
        element.style.display = 'block';
    }
    function hideLeftPage() {
        var element = document.querySelector('.left-column');
        console.log(element)
        element.style.display = 'none';
    }
    // Click visit-our-forum-btn to show sign in form
    var arr = ['.signin-form-container', '.signup-form-container', '.tmp'];
    //hideRightPage(arr);
    document.getElementById('visit-our-forum-btn').addEventListener('click', ()=>{
        if (window.matchMedia("(max-width: 768px)").matches) {
            // Thiết bị di động
            hideLeftPage();
            showRightPage('.signup-form-container', arr);
        } else {
            // Máy tính
            showRightPage('.signup-form-container', arr);
        }
    });
    document.getElementById('sign-in-btn').addEventListener('click', ()=>{
        showRightPage('.signin-form-container', arr);
    });
    document.getElementById('sign-up-btn').addEventListener('click', ()=>{
        showRightPage('.signup-form-container', arr);
    });
    document.getElementById('about-us-btn').addEventListener('click', ()=>{
        if (window.matchMedia("(max-width: 768px)").matches) {
            // Thiết bị di động
            hideLeftPage();
            showRightPage('.tmp', arr);
        } else {
            // Máy tính
            showRightPage('.tmp', arr);
        }
    });
    document.getElementById('closeButton').addEventListener('click', ()=>{
        showRightPage('.left-column', arr);
    });

</script>
<footer>

</footer>
</html>